<h1>Duplicates checker</h1>

<% @question_matches.with_details.each do |record, details| %>
  <li><%= link_to details[:highlight][:content].html_safe, suggestion_taken_path(record.id) %></li> 
<%end %>
