<h1>Welcome Index</h1>

<div id="test recording">
  <h2 id="startRecording">Click here to test recording</h2>
  <input id="results" type="textarea" name="transcript" value="Results go here">
  <h3 id="endRecording">Click here to end recording</h3>
</div>

<style>
input {
  width: 80%;
  height: 200px;
}

</style>

<script>
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  console.log("Upgrade not needed.")
  var recognition = new webkitSpeechRecognition();
  recognition.lang = "en-US";
  var recognizing = false;
  var final_transcript = '';

  // Sets the default to 5 mins unbroken recording
  recognition.continuous = true;
  // Allows user to see interim transcription results
  recognition.interimResults = true;

  // Prompts user to allow mic, starts the actual recording
  $('#startRecording').click(function(){
    recognition.start()
  });

  // Fires when recognition.start is called
  recognition.onstart = function() {
    console.log("I'm starting.");
    recognizing = true;
  }

  // Generates results
  recognition.onresult = function(event) {
    var interim_transcript = '';
    for (var i = event.resultIndex; i < event.results.length; ++ i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
        final_transcript + "."
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
      $('#results').val(final_transcript);

      console.log("Interim " + interim_transcript);
      console.log("Final " + final_transcript);
    }
  }

  // Ends the recording session
  $('#endRecording').click(function(){
    console.log("End recording")
    recognizing = false
    recognition.stop()
  });

}
</script>
