<div class="row" id="headline">
  <div class="text-container">
    <h1>So...</h1>
    <input type="text" name="name" placeholder="Your first name" class="simple-form">
    <h2>Tell me about yourself.</h2>
    <i id="big-mic-home" class="fa fa-microphone fa-4x big-mic"></i>
    <textarea name="bio" class="big-form" id="bio-form" placeholder="Enable your mic and give it a try"></textarea>
  </div>
</div>

<div class="row" id="second-block">
  <div class="col-sm-6 sm-card" id="card1">
    <div id="inner1">
      <h1>- Preparation -</h1>
      <p>
        Select a question to answer or add your own. <br>Enter some points you intend to make.
      </p>
    </div>
  </div>
  <div class="col-sm-6 sm-card" id="card2">
    <div id="inner2">

    </div>
  </div>
</div>

<div class="row" id="third-block">
  <div class="col-sm-6 sm-card" id="card3">
    <div id="inner3">

    </div>
    <%#= link_to "ADD A QUESTION" %>
  </div>
  <div class="col-sm-6 sm-card" id="card4">
    <div id="inner4">
      <h1>- Processing -</h1>
      <p>
        Behind the scenes, Speechable works to <br>
        tell you if you hit your marks. 
      </p>
    </div>
  </div>
</div>
