<h1>Results#show</h1>

<% @results.each_with_index do |result, i| %>

  <h3>What you wanted to mention:</h3>
  <%= @talking_points[i].phrase %>

  <h4>Did you hit your talking points?</h4>
  <% result.with_details.each do |record, detail| %>
    <%= detail[:highlight][:transcript].html_safe %><br>

  <h4>See your full transcript</h4>
    <%= record.transcript %>
  <% end %>
  <hr>

<% end %>


<!-- <h3>Search result</h3>
  <%# result.each do |r|%>
    <%#= r.inspect %>
    <%#= r.id %><br>
    <%#= r.transcript %><br>
  <%# end %> -->
  <%#= result.hits %>
  <%#= result.hits.class %>
  <!-- <%#= result.transcript %><br>
  <%#= result.id  %><br>
  <%#= result._score %><br> -->

<!-- <h2> test</h2>
<%# @test_results.each do |r| %>
<%#= r.class %><br>
<%#= r._id %><br>
<%#= r.transcript %><br>
<%# end %>

<hr>

<h2>second test</h2>
<%# @second_test.each do |t| %>
  <%#=  t.id %><br>
  <%#= t.transcript %><br>
<%# end %> -->
