<h1>Interview analysis</h1>
<h2>Your final transcript:</h2>
<%= @response.transcript %>

<h3>Did you hit your talking points?</h3>

<% @results.each_with_index do |result, i| %><!-- displays results of search analysis-->

  <p>
    Your phrase: <%= @talking_points[i].phrase %>
  </p>


  <% result.with_details.each do |record, detail| %><!-- searchkick unique method -->
    <i class="fa fa-check-circle-o"></i>
    <%= detail[:highlight][:transcript].html_safe %><!-- highlights findings -->

    <!-- <h4>See your full transcript</h4>
    <%#= record.transcript %>--><!-- record is the actual ActiveRecord object -->
  <% end %>
  <hr>

<% end %><!-- end of each talking point result -->

<h3>Filler words</h3>
<% @filler_words.each do |w| %>
  <% w.with_details.each do |record, detail| %>
    <%= detail[:highlight][:transcript].html_safe %><br>
  <% end %>
<% end %>

<!-- <h3>Search result</h3>
  <%# result.each do |r|%>
    <%#= r.inspect %>
    <%#= r.id %><br>
    <%#= r.transcript %><br>
  <%# end %> -->
  <%#= result.hits %>
  <%#= result.hits.class %>
  <!-- <%#= result.transcript %><br>
  <%#= result.id  %><br>
  <%#= result._score %><br> -->

<!-- <h2> test</h2>
<%# @test_results.each do |r| %>
<%#= r.class %><br>
<%#= r._id %><br>
<%#= r.transcript %><br>
<%# end %>

<hr>

<h2>second test</h2>
<%# @second_test.each do |t| %>
  <%#=  t.id %><br>
  <%#= t.transcript %><br>
<%# end %> -->
