/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/****************/
/*Header Styling*/
/****************/

#logo {
  color: coral;
}

header {
  background-color: #3d3a39;
}

header h1 {
  display: inline-block;
  color: white;
  padding: 0 20px;
  margin: 20px 0;
}

header ul, header li{
  display: inline-block;
  padding: 0 10px;
}

header ul li a {
  color: #F1C5B8;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
}

header ul li a:hover {
  color: coral;
  text-decoration: none;
}

/***************/
/*Site Defaults*/
/***************/

body {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.container-fluid {
  background-color: #DEDEDE;
  min-height: 100vh;
}

.pageContainer {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.simple-form {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid coral;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
}

input.simple-form {
  padding: 5px 10px;
}

.simple-form:focus {
  outline:none;
  box-shadow:none;
  border-bottom: 1px solid #F1C5B8;
}

.error-message {
  color: #920048;
  padding-top: 5px;
}

.btn {
  border-radius: 0px;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
  color: white;
  background-color: coral;
  border: none;
}
.btn:hover, .btn:active, .btn:focus {
  border-radius: 20px;
  background-color: coral;
  color: white;
}
