// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "font-awesome-sprockets";
// @import "font-awesome";

// NON MODAL STYLING //
// ***************** //

.pageContainer {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
}


// Styles the pages for recording a response
#results {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: block;
  padding: 5px;
  line-height: 1.8;
}

//
.pageContainer h2 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}

//Submit btn
.pageContainer .btn {
  margin-top: 20px;
}


// TIMER STYLING //

.timer-holder {
  height: 300px;
}


.pie{
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: #F1C5B8;
    border: 2px solid #F1C5B8;
    float: left;
    margin: 2em;
  .block{
    position:absolute;
    background:#fff;
    width:230px;
    height:230px;
    display:block;
    border-radius:50%;
    top:8px;
    left:8px;
  }
}

div.pie.degree {
  margin-left: -125px;
  left: 50%;
}

#time{
  font-size:3em;
  position:absolute;
  top:35%;
  left:43%;
  color:lighten(#000,60%);
}
.degree{
  /*90 + ( 360 * .1 )*/
      background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}


//MODAL STYLING//
// *********** //

// question
.modal-question {
  font-size: 2em;
}

// this is inside the modal, it's the grey abstraction of text
#on-recording {
  width: 80%;
  min-height: 200px;
  margin: 0 auto 20px auto;
  padding: 5px;
  display: block;
  background-color: #DEDEDE;
  border: 1px solid #DEDEDE;
}

// This is the text abstracted in modal
#on-recording span {
  background-color: #F1C5B8;
  color: #F1C5B8;
  display: inline-block;
  margin-bottom: 5px;
}

// Contains the canvas and mic info
.canvasContainer {
  width: 100%;
  text-align: center;
}

canvas {
  display: inline;
  border: none;
}
