// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-times-circle {
  color: #920048;
}

.fa-check-circle-o {
  color: #2BBBB0;
}

.highlight em {
  background-color: #F1C5B8;
}

#total {
  background-color: coral;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px 0 0 12px;
  margin-bottom: 10px;
  display: inline-block;
  color: white;
}
