// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-times-circle {
  color: #920048;
}

.fa-check-circle-o {
  color: #2BBBB0;
}

.highlight em {
  background-color: #F1C5B8;
}
