// Place all the styles related to the talking-points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tp-submit {
  float: right;
  margin-top: -47px;
}

#addMore {
  margin-top: 10px;
}
