// Place all the styles related to the talking-points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tp-submit {
  float: right;
  margin-top: -47px;
}

#addMore {
  margin-top: 10px;
}

.filtering p a {
  color: #615C5B;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
}
.filtering p a:hover {
  color: coral;
  text-decoration: none;
}
