// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headline {
  text-align: center;
  height: 700px;
  background: linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
  ), image-url("office.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeate: no-repeat;
  background-color: grey;
}
// Where the e tagline text sits
.text-container {
  padding-top: 200px;
  color: white;
}

// Styling the mic symbol
#big-mic {
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
}
#big-mic:hover {

  color: #F1C5B8;
}

#second-block {
  height: 500px;
  background-color: #F1C5B8;
}
