// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// image block with headline
#headline {
  text-align: center;
  height: 700px;
  background: linear-gradient(
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)
  ), image-url("office.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: grey;
}

// Where the tagline text sits
.text-container {
  padding-top: 150px;
  color: white;
}
.text-container * {
  margin: 10px;
}

// Styling the mic symbol
.big-mic {
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
  width: 100px;
  height: 100px;
  padding-top: 25px;
  border: 1px solid transparent;
  margin: 20px auto;
  display: block !important;
  text-align: center;
}
.big-mic:hover {
  color: #F1C5B8;
  border: 1px solid #F1C5B8;
  border-radius: 100%;
  cursor:pointer;
}
.big-mic:active {
  color: coral;
  border: 1px solid coral;
  cursor:pointer;
}

// the form where the bio gets written
.big-form {
  border: 1px solid coral;
  box-shadow: none;
  border-radius: 6px;
  outline: 0;
  background: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  );
  width: 50%;
  height: 100px;
  min-width: 250px;
  display: none;
}
textarea.big-form {
  padding: 5px 10px;
}

// Card formatting

.sm-card {
  height: 250px;
  padding: 30px;
}

#card1 {
  background-color: white;
  text-align: center;
}
#inner1 {
  border-bottom: 2px solid #615C5B;
  border-top: 2px solid #615C5B;
  height: 100%;
  padding: 30px 0;
  color: #615C5B
}

#card2 {
  background-color: coral;
  background: linear-gradient(
  rgba(241,197,184, 0.9),
  rgba(241,197,184, 0.9)
  ), image-url("computer.jpeg");  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

#card3 {
  background-color: coral;
  background: linear-gradient(
  rgba(255,127,80, 0.8),
  rgba(255,127,80, 0.8)
  ), image-url("bag-and-hands-sm.jpg");  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

#inner3 a, #inner2 a {
  color: white;
  font-size: 1.7em;
  border: 2px solid white;
  padding: 15px;
  margin:0 auto;
  margin-top: 62px;
  display: block;
  width: 220px;
  text-align: center;
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: 0.5s ease;
}
#inner3 a:hover, #inner2 a:hover {
  text-decoration: none;
  border-radius: 35px;
}


#card4 {
  background-color: #615C5B;
}
#inner4 {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 100%;
  color: white;
  padding: 30px 0;
  text-align: center;
}
